<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interviews and Results Forms</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h1>Codeial Forms</h1>
     <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Codeial</a>
            </div>
            <ul class="navbar-menu">
                <li class="nav-item"><a href="/student">Add Students</a></li>
                <li class="nav-item"><a href="/interview">Schedule Interview</a></li>
                <!-- <li class="nav-item"><a href="/mark-results">Mark Result</a></li> -->
                <li class="nav-item"><a href="/select-interview">StudentList</a></li>
                <li class="nav-item"><a href="/extract-csv">Generate Report</a></li>
                <!-- <li class="nav-item"><a href="/assign-interview">Assign Interview</a></li> -->
            </ul>
        </div>
    </nav>

    <!-- Interviews Form -->
    <section>
        <h2>Interviews</h2>
        <form action="/interview" method="POST">
            <input type="text" name="companyName" placeholder="Company Name" required>
            <input type="date" name="interviewDate" required>
            <button type="submit">Submit Interview</button>
        </form>
    </section>

    
</body>
</html>
