<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeial Forms</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>



    <h1>Codeial Forms</h1>
     <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Codeial</a>
            </div>
            <ul class="navbar-menu">
                <li class="nav-item"><a href="/student">Add Students</a></li>
                <li class="nav-item"><a href="/interview">Schedule Interview</a></li>
                <!-- <li class="nav-item"><a href="/mark-results">Mark Result</a></li> -->
                <li class="nav-item"><a href="/select-interview">StudentList</a></li>
                <li class="nav-item"><a href="/extract-csv">Generate Report</a></li>
            </ul>
        </div>
    </nav>
    <section>
        <form action="/student" method="POST">
            <!-- Batch Form -->
            <h2>Batch Details</h2>
            <input type="text" name="batch" placeholder="Batch Name" required>

            <!-- Student Details Form -->
            <h2>Student Details</h2>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="college" placeholder="College" required>
            <select name="status">
                <option value="placed">Placed</option>
                <option value="not_placed">Not Placed</option>
            </select>

            <!-- Course Scores Form -->
            <h2>Course Scores</h2>
            <input type="number" name="dsaScore" placeholder="DSA Final Score" required>
            <input type="number" name="webdScore" placeholder="WebD Final Score" required>
            <input type="number" name="reactScore" placeholder="React Final Score" required>

            <!-- Interviews Form -->
            <!-- <h2>Interviews</h2>
            <input type="text" name="companyName" placeholder="Company Name" required>
            <input type="date" name="interviewDate" required> -->

            <!-- Results Form -->
            <!-- <h2>Results</h2>
            <input type="text" name="resultCompany" placeholder="Company" required>
            <input type="text" name="resultStudent" placeholder="Student" required>
            <select name="result">
                <option value="PASS">PASS</option>
                <option value="FAIL">FAIL</option>
                <option value="On Hold">On Hold</option>
                <option value="Didn’t Attempt">Didn’t Attempt</option>
            </select> -->

            <!-- Submit Button -->
            <button type="submit">Submit Details</button>
        </form>
    </section>
</body>
</html>


