<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission Success</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Placement Cell</h1>
     <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Placement</a>
            </div>
            <ul class="navbar-menu">
                <li class="nav-item"><a href="/student">Add Students</a></li>
                <li class="nav-item"><a href="/interview">Schedule Interview</a></li>
                <!-- <li class="nav-item"><a href="/mark-results">Mark Result</a></li> -->
                <li class="nav-item"><a href="/select-interview">StudentList</a></li>
                <li class="nav-item"><a href="/extract-csv">Generate Report</a></li>
                <li class="nav-item"><a href="/signOut">Log Out</a></li>


                <!-- <li class="nav-item"><a href="/assign-interview">Assign Interview</a></li> -->
            </ul>
        </div>
    </nav>
    <div class="success-message">
        <h1>Details Submitted Successfully!</h1>
        <p>Thank you for submitting the details.</p>
        <!-- <a href="/" class="button">Go back to home</a> -->
    </div>
</body>
</html>
